<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>gulp bower</title>
	<link rel="stylesheet" href="../web/dist/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../web/dist/css/main.min.css">

	<script src="../web/dist/bower/jquery/dist/jquery.min.js"></script>
	<script src="../web/dist/bower/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../web/dist/js/main.min.js"></script>
</head>

<body>
	<h1>gulp bower</h1>
	<div class="square"></div>
</body>

</html>