<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>gulp bower</title>
	<link rel="stylesheet" href="../web/dist/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../web/dist/bower/fancybox/dist/jquery.fancybox.min.css">
	<link rel="stylesheet" href="../web/dist/css/main.min.css">

	<script src="../web/dist/bower/jquery/dist/jquery.min.js"></script>
	<script src="../web/dist/bower/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../web/dist/bower/fancybox/dist/jquery.fancybox.min.js"></script>
	<script src="../web/dist/js/main.min.js"></script>
</head>

<body>
	<!--
		<h1>gulp bower</h1>
		<div class="square"></div>
	-->
	<!-- <div id="debounce"></div> -->

	<div class="imgs">
		<ul>
			<li>
				<a href="../web/dist/images/1.png" data-fancybox="gallery" data-caption="君の名は">
					<img src="../web/dist/images/1.png">
				</a>
				<div class="title">
					<p>君の名は</p>
				</div>
			</li>
			<li>
				<a href="../web/dist/images/2.jpg" data-fancybox="gallery" data-caption="君の名は">
					<img src="../web/dist/images/2.jpg">
				</a>
				<div class="title">
					<p>君の名は</p>
				</div>
			</li>
			<li>
				<a href="../web/dist/images/3.jpg" data-fancybox="gallery" data-caption="ソードアート・オンライン">
					<img src="../web/dist/images/3.jpg">
				</a>
				<div class="title">
					<p>ソードアート・オンライン</p>
				</div>
			</li>
			<li>
				<a href="../web/dist/images/4.png" data-fancybox="gallery" data-caption="君の名は">
					<img src="../web/dist/images/4.png">
				</a>
				<div class="title">
					<p>君の名は</p>
				</div>
			</li>
			<li>
				<a href="../web/dist/images/5.jpg" data-fancybox="gallery" data-caption="ワンピース">
					<img src="../web/dist/images/5.jpg">
				</a>
				<div class="title">
					<p>ワンピース</p>
				</div>
			</li>
		</ul>
	</div>
</body>

</html>